<h1>Главная страница</h1>

<p>Добро пожаловать на страницу курсового проекта Ruby on Rails</p>

<ul>
  <li><%= link_to 'Помощь', main_help_path %></li>
  <li><%= link_to 'Контакты', main_contacts_path %></li>
  <li><%= link_to 'О проекте', main_about_path %></li>
</ul>