<div id="<%= dom_id value %>">
  <div>
    <strong>User:</strong>
    <%= value.user_id %>
  </div>

  <div>
    <strong>Image:</strong>
    <%= value.image_id %>
  </div>

  <div>
    <strong>Value:</strong>
    <%= value.value %>
  </div>

</div>
